{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    <h2>Zaloguj się</h2>
        <form class="px-4 py-3" action="{{ path('login') }}" method="post">
            <div>

            <label for="username">Email</label>
            <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}"/>  

            <label for="password">Hasło</label>
            <input type="password" id="password" name="_password" class="form-control"/>

            <button type="submit" class="btn btn-secondary">Zaloguj</button>
            </div>
            <div>
             <label>
                <input type="checkbox" name="_remember_me" checked/>
                Zapamiętaj mnie
            </label>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
        </form>
        <h3>Nie posiadasz konta</h3>
            <a href= "{{path('register')}}">Zarejestruj się</a>
{% endblock %}